Source: wscgo
Maintainer: Balázs Grill <balazs.grill@live.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: wscgo
Architecture: any
Depends:
Description: Window-shutter controller
 Configurable home automation controller written in Go.